$tab-base-color: #213249;
$tab-base-color-active: #204675;
$tab-icon-width: 30px;
$tab-icon-height: 30px;
$tab-padding: 8px;
$tab-border-width: 0px;
$tab-border-width-active: 0px;
$tab-border-width-focus: 0px;
$tab-border-width-focus-over: 0px;
$tab-inner-border-width: 0px;
$tab-inner-border-width-active: 0px;
$tab-inner-border-width-focus: 0px;
$tab-inner-border-width-focus-active: 0px;
$tab-inner-border-width-focus-over: 0px;
$tab-border-radius: 4px 4px 0 0;
$tab-color: #FFF;
$tab-color-active: #FFF;
$tab-font-size: 12px;
$background-color: $base-color;
